<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index page</title>
</head>

<body>
    <div style="align-self: center; width: 100%; padding: 0 0 0 200px">
       <img src="/ui/images/header_bg.gif">
    </div>

    <div style="width: 980px;padding: 0 0 0 200px">
        <div style="float: left; width: 400px;padding: 0 0 0 50px;">
            <h3>Welcome to Shape Calculator</h3>
            <p>
                Shape Calculator is an interactive web application. To the right you will
                find the 3 step application. Follow the instructions in each step.
                Clicking cancel will take you back to step 1. Enjoy!
                A small river named Duden flows by their place and supplies it with the
                necessary regelialia. It is a paradisematic country, in which roasted parts of
                sentences fly into your mouth.
                Even the all-powerful Pointing has no control about the blind texts it is an
                almost unorthographic life One day however a small line of blind text by the
                name of Lorem Ipsum decided to leave for the far World of Grammar. The
                Big Oxmox advised her not to do so, because there were thousands of bad
                Commas.
            </p>
        </div>
        <div style="float: left; width: 200px;border: solid;padding: 0 0 0 50px;">
            <h2>Step 3 : Your results</h2>
            <p>
                You have calculated the area of a {{shape}}
                with a
                {{#shapes_param}}
                    {{this}},
                {{/shapes_param}} of
                {{#shapes_param_value}}
                {{this}},
                {{/shapes_param_value}} respectively
                . Below is your result:
            </p>
           The  Area is {{area}}
            <br>
            <a href="/">Start over</a>
        </div>
        <div style="float: left; width: 150px; height:250px; background-color:#95a5a6;border: solid;padding: 0 0 0 50px;">Right Stuff</div>
        <br style="clear: left;" />
    </div>

</body>
</html>